@import url('https://fonts.googleapis.com/css?family=Muli');

* {
  box-sizing: border-box;
}

body {
  background: #a6d0dd;
  font-family: 'Muli', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  overflow-x: hidden;
}

h1 {
  margin:  10px;
  color: #ff6969;
}

.box {
  background-color: steelblue;
  color: #fff9de;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 200px;
  border-radius: 10px;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
  transform: translateX(400%);
  transition: transform 0.4s ease;
}
